/* override bootstrap */
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
}

*::selection {
    text-shadow: 5px 5px 5px #43D9BE;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.header > h1 {
    cursor: pointer;
    margin-right: 20px;
    color: rgb(31, 31, 31);
}

.header > h1:hover {
    color: #0DAEC0;
    transition: color 250ms;
}

#icon {
   width: 50px;
   height: 50px; 
   margin: 10px;
   cursor: pointer;
}

.chat-window {
    scroll-behavior: smooth;
}

.chat-window::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 600;
}

.btn {
    color: white;
    width: 100px;
    font-weight: bold;
    text-transform: uppercase;
    background: #43D9BE;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: none !important;
}

.input-group-text {
    width: 130px;
    font-weight: bold;
}

.username {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.list-group-item {
    font-size: 1.2em;
    color: rgb(31, 31, 31);
    font-family: 'Montserrat', sans-serif;
}

.time {
    color: #999;
    font-size: 0.8em;
}

.update-messsage {
    margin: 20px auto;
    text-align: center;
}

.updated-name {
    color: #43D9BE;
    font-weight: bold;
}
