/* override bootstrap */
.form-control:focus {
    box-shadow: none;
    border-color: inherit;
    -webkit-box-shadow: none;
}

/* CHOOSE NAME WINDOW */

#choose-name {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(#96DEDA, #50C9C3);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.5s;
}

.name-content {
    width: 250px;
    height: 320px;
    padding: 20px;
    text-align: center;
    background: #FFF;
    border: 1px solid #22AAB9;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#choose-name .header {
    margin: -30px 0 20px 0;
}

#choose-name img,
#choose-name h1 {
    cursor: default;
    pointer-events: none;
}

/* VALIDATE WINDOW */

#secret:focus::-webkit-input-placeholder {
    color: transparent;
}

#secret::selection {
    background: #77D5D0;
}

#secret {
    margin-bottom: 5px;
}

#info {
    animation: fadeIn 1.5s;
}

.validate {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(#96DEDA, #50C9C3);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1; 
    }
}

.validate-content {
    width: 260px;
    height: 300px;
    padding: 20px;
    text-align: center;
    background: #FFF;
    border: 1px solid #22AAB9;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.validate-content > input {
    padding: 5px;
    display: block;
    margin: 20px auto;
    border: 1px solid #43D9BE;
    border-radius: 5px;
}

.validate-content > h3 {
    color: rgb(31, 31, 31);
}

.validate-content > a {
    color: #FFF;
    margin: 10px 0;
    font-size: 18px;
    padding: 10px 20px;
    letter-spacing: 2px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #50A7C2, #80D0C7);  
    transition: color 500ms;
}

.validate-content > a:hover {
    background-image: linear-gradient(-180deg, #80D0C7, #50A7C2);
}

#enter {
    position: absolute;
    top: 155px;
    left: 77px;
}

#cancel {
    position: absolute;
    top: 210px;
    left: 70px;
}

*::selection {
    text-shadow: 5px 5px 5px #43D9BE;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px !important;
 }

/* MAIN */

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.main-header > h1 {
    cursor: pointer;
    margin-right: 20px;
    color: rgb(31, 31, 31);
    transition: color 500ms;
}

.main-header > h1:hover {
    color: #0DAEC0;
}

#icon {
   width: 50px;
   height: 50px; 
   margin: 10px;
   cursor: pointer;
}

.chat-window {
    scroll-behavior: smooth;
}

#loader {
    width: 100px;
    height: 100px;
    display: block;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
}

.chat-window::-webkit-scrollbar {
    width: 0.10rem;
}

.chat-window::-webkit-scrollbar-thumb {
    background-color: #0DAEC0 !important;
    border-radious: 5px !important;
    opacity: 0.5 !important;
}

/*
.chat-window::-webkit-scrollbar-track {
    background-color: #43D9BE;
}
*/

.container {
    max-width: 600;
}

.btn {
    color: #FFF;
    width: 100px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #B0BEC5;
    background-image: linear-gradient(90deg, #50A7C2, #80D0C7); /* #50A7C2 → #B7F8DB */
    transition: color 500ms;
}

.btn:focus {
    outline: none !important;
}

.input-group-text {
    width: 130px;
    font-weight: bold;
}

.username {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.list-group-item {
    font-size: 1.2em;
    color: rgb(31, 31, 31);
    font-family: 'Montserrat', sans-serif;
}

.time {
    color: #999;
    font-size: 0.8em;
}

.update-messsage {
    margin: 20px auto;
    text-align: center;
}

.fade-in {
    animation: fade-in 2s;
}

.fade {
    animation: fade-in-out 3s;
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 0; }
}

.updated-name {
    color: #43D9BE;
    font-weight: bold;
}

.welcome-message {
    margin-top: 5px;
    text-align: center;
}

@media only screen and (min-height: 500px) {
    .chat-window {
        height: 395px !important;
    }
}
@media only screen and (min-height: 640px) {
    .chat-window {
        height: 465px !important;
    }
}
@media only screen and (min-height: 730px) {
    .chat-window {
        height: 555px !important;
    }
}
@media only screen and (min-height: 810px) {
    .chat-window {
        height: 635px !important;
    }
}
@media (max-width: 1024px) {
    .chat-window {
        font-size: 11px !important;
    }
    .main-header {
        display: none;
    }
    #secret {
        margin-right: 15px;
    }
}
@media (min-width: 1024px) {
    .chat-window {
        height: 635px !important;
    }
}
